.footer{
    text-align: center;
    padding: 30px 30px;
    background: linear-gradient(to right, rgb(51, 0, 51) 10%, #304d88 100%);
    margin-top: 50px;
    justify-content: space-evenly;
    width: 100%;
}

.fb,.insta,.yout,.twit{
    font-size: 33px;
    margin: 15px 8px;
}

.fb{
    background-color: #fff;
    border-radius:20px;
    color:#4267B2;
    padding: 4px;
    transition: .3s;
}
.fb:hover{
    background-color: #4267B2;
    color: #fff;
}
.insta{
    background-color: #fff;
    border-radius:20px;
    color:#fbad50;
    padding: 4px;
    transition: .3s;
}
.insta:hover{
    background-color: #cd486b;
    color: #fff;
}
.yout{
    background-color: #fff;
    border-radius:20px;
    color:#FF0000;
    padding: 4px;
    transition: .3s;
}
.yout:hover{
    background-color: #FF0000;
    color: #fff;
}
.twit{
    background-color: #fff;
    border-radius:20px;
    color:#1DA1F2;
    padding: 4px;
    transition: .3s;
}
.twit:hover{
    background-color: #1DA1F2;
    color: #fff;
}
.head h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    background: linear-gradient(to right, #fffffffb 0%, #2d1b30d0 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}
.head p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #fffffffb 0%, #d1cbd3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80%;
    margin: 0 auto;
}
.head1,.head2,.head3,.head4{
    padding-top: 30px;
}
.head2 h1,.head3 h1,.head4 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    width: 85%;
    margin: 0 auto;
}
.icon{
    margin-right: 10px;
    font-size: 20px;
    color: #fff;    
}


@media(min-width:767px){

    .footer{
        padding: 70px;
        display: flex;
        text-align: start;
    }
    .head p{
        width: 330px;
        margin: 0;
    }
    .head1,.head2,.head3,.head4{
        padding-top: 0;
    }
    .head2 h1,.head3 h1,.head4 h1{
        width: 15vw;
        margin: 0 auto;
        margin-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 1080px){
    
    .footer{
       width: 109%;
       padding: 50px;
    }

    .head2 h1,.head3 h1,.head4 h1{
        font-size: 16px;
    }
 
}